html.dark pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}
html.dark .hljs {
  color: #79b8ff;
  background:#1c1b1b
}
html.dark .hljs-keyword {
  color: #f97583;
}
html.dark .hljs-title.class_ {
  color: #e1e4e8;
}
html.dark .hljs-title.function_ {
  color: #b392f0;
}
html.dark .hljs-string,
html.dark .hljs-number {
  color: #9ecbff;
}
html.dark .hljs-variable.language_ {
   color: #79b8ff;
}
html.dark .hljs-attr {
  color: #dbedff;
}
html.dark .hljs-function {
  color: #ffab70;
}
html.dark .hljs-function .hljs-params {
  color: #f97583;
}
html.dark .hljs-comment {
  color: #6a737d;
}
html.dark .hljs-regexp {
  color: #85e89d;
}
