@theme {
    --color-bg-primary: #0f172a;
    --color-bg-secondary: #030712;
    --color-text-primary: #ffffff;
    --color-text-secondary: #dddddd;
    --color-accent: #74d4ff;
    --color-dimmed-accent: #006999;
}
